.chat-main
  .chat-main__groupInfo
    .chat-main__groupInfo--infoBlock
      .groupName
        = @group.name
      .memberName
        Member :
        = @group.users.pluck(:name).join(",")
    = link_to edit_group_path(@group), class: "chat-main__groupInfo--editBtn" do
      .btnString
        Edit
  .chat-main__messageList
    = render partial: 'message', collection: @messages
    -# = render @message　でも省略して可
  .message-form
    =form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-content', placeholder: "type a message"
        = f.label :image, class: 'input-image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-file'
      = f.submit 'Send', class: 'submit-btn'
