.side-bar
  .side-bar__userName
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        .top-items__btn
          = link_to new_group_path do
            = icon('fas', 'edit')
        .top-items__btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side-bar__groupList
    - current_user.groups.each do |group|
      .groupList
        = link_to group_messages_path(group) do
          .groupList__name
            = group.name
          .groupList__latestMessage
            = group.show_last_message
